
#root {
  background: gray;
  height: 100vh;
  width: 100vw;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 900;
  color: white;
  /* font-family: 'Montserrat', sans-serif; */
}

.maincontainer {
  display: flex;
  flex-direction: column;
  height: 100vh
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.console {
  min-height: 70px;
  width: 100%;
  background-color: rgba(40, 40, 40, 1);
  position: absolute;
  bottom: 0
}

.sidebar {
  min-width: 200px;
  background-color: rgba(15, 15, 15, 1);
}

.body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(60, 60, 60, 1), rgba(30, 30, 30, 1));
  display: flex;
  flex-direction: column;
}

.playlisthead {
  height: 55%;
}

.playlist {
  height: 45%;
  overflow-y: scroll;
}

table {
  border-collapse: separate;
  border-spacing: 0
}
.table-dark {
  background-color: rgba(30, 30, 30, 1)
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(60, 60, 60, 1);
}

.table-dark thead th {
  position: sticky;
  top: 0;
  background-color: rgba(30, 30, 30, 1);
}

.search {
  height: 100%;
  background-color: rgba(22, 22, 22, 1);
  display: flex;
  flex-direction: column;
}

#search {
  color: black;
  font-size: 0.8em;
  width: 175px;
  height: 22px;
  text-indent: 22px;
  border-radius: 40px;
  border-style: none;
}
#search:focus {
  outline: none
}

#search::-webkit-search-cancel-button{
    position: relative;
    right: 2px;
}

::placeholder {
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}

#magnifyingGlass {
  position: relative;
  top: 0px;
  left: 20px;
  font-size: 15px;
  color: black;
}
#searchForm {
  position: absolute
}

.searchbar {
  min-height: 40px;
}

.searchResults {

}

.searchGlass {
  color: rgba(250, 250, 250, 1)
}
