#root {
  background: gray;
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  height: 100vh
}

.main {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.console {
  height: 10%;
  width: 100%;
}

.sidebar {
  width: 20%;
  border: red solid 1px;
  box-sizing: border-box;
}

.body {
  width: 80%;
  border: gold solid 1px;
  box-sizing: border-box;

}
